@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brandColor: #4640DE;
  --accentColor: #26A4FF;
  --neutrals-100: #25324B;
  --neutrals-80: #515B6F;
  --neutrals-20: #D6DDEB;
  --color-black: #202430;
  --color-white: #FFFFFF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-epilogue: var(--font-epilogue);
  --font-inter: var(--font-inter);
  --font-clash: var(--font-clash)
}

body {
  font-family: var(--font-epilogue);
}

.cs-container {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
